# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# Allure Reports
allure-results/
allure-report/
reports/

# Logs
*.log

# IDE Files
.vscode/
.idea/

# Operating System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Coverage Reports
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints/

# Test Artifacts
screenshots/